body {
    background-color: #fce8ee;
}

.bg {
    background-color: #000;
}

.zoom:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.normal-txt {
    text-decoration: none;
    color: inherit;
}

.bg-clr {
    background-color: #000;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
}
